.product_card {
   transition: all 0.4s linear;
   position: relative;
}

.product_card::before {
   content: "";
   width: 90%;
   height: 100px;
   border: solid 20px #000;
   border-color: #0000000d transparent transparent transparent;
   border-radius: 50%/100px 100px 0 0;
   position: absolute;
   top: 25%;
   left: 50%;
   transform: translate(-50%, -50%) rotate(-20deg);
}

.product_card:hover .product_card_update_btn {
   padding: 5px 60px;
}

.product_card_body h5 {
   font-size: 1rem;
}
.product_card_body i,
.product_card_body span {
   font-size: 0.8rem;
}

.product_card_body article {
   padding: 3px 0;
}

.product_card_img {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 0 3rem 0;
}

.product_card_img img {
   width: 170px;
   height: auto;
}


.product_card_description p{
   font-size: 0.8rem;
}