.product_card {
   padding: 20px 30px;
   border: 1px solid var(--color-trans);
}

.product_card_body strong,
.product_card_body span {
   font-size: 0.8rem;
}

.product_card_body p {
   padding: 5px 0;
}

.product_card_body a {
   padding: 10px 20px;
   background-color: var(--color-sweet);
   color: var(--color-light);
   text-decoration: none;
   transition: all 0.4s linear;
}

.product_card_body a:hover {
   background-color: var(--color-sweet-alt);
}


.manage_inventory_btn {
   padding: 10px 20px;
   background-color: var(--color-primary);
   color: var(--color-light);
   text-decoration: none;
   transition: all 0.4s linear;
   border-radius: 50px;
}

.manage_inventory_btn:hover {
   background-color: var(--color-primary-alt);
}
