.login__section {
   min-height: 90vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.login_bottom button {
   padding: 5px 20px;
   border-radius: 50px;
   border: 2px solid var(--color-trans);
   background: transparent;
}

.login_bottom button img {
   width: 20px;
   height: auto;
}