.product_details__section {
   min-height: 90vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.sp_card_img {
   display: flex;
   align-items: center;
   justify-content: center;
}

.sp_card_body strong {
   font-size: 0.9rem;
}

.sp_form {
   /* background-color: var(--color-sweet); */
}