*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color variation */
  --color-body: #f9fff482;
  --color-light: #f1f1f1;
  --color-light-alt: #c9c9c9;
  --color-dark: #212529;
  --color-dark-alt: #15171a;
  --color-primary: #02b290;
  --color-primary-alt: #03d8c3;
  --color-success: green;
  --color-success-alt: #004e00;
  --color-secondary: #765df8;
  --color-secondary-alt: #8d3daf;
  --color-sweet: #e6425e;
  --color-sweet-alt: #da33b6;
  --color-update: #8d3daf;
  --color-update-alt: #8d3daf;
  --color-red: #dc3545;
  --color-red-alt: darkred;
  --color-trans: #15171a24;

  /* Font variation */
  --font-primary: "Poppins", sans-serif;
}

body {
  background-color: var(--color-body);
  font-family: var(--font-primary);
}

/* Re-usable class list */
.section_style {
  padding: 5rem 0;
}

.section_title {
  text-align: center;
  padding: 10px 0;
  font-size: 4rem;
  font-weight: bold;
  position: relative;
  color: var(--color-trans);
  letter-spacing: 1.2px;
}

.section_title span {
  letter-spacing: 1px;
  position: absolute;
  top: 90%;
  left: 50%;
  font-size: 2rem;
  color: var(--color-primary);
  transform: translate(-50%, -50%);
}
/* reset default style for tags */
a,
p {
  font-size: 0.9rem;
}
