*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Color variation */
  --color-body: #f9fff482;
  --color-light: #f1f1f1;
  --color-light-alt: #c9c9c9;
  --color-dark: #212529;
  --color-dark-alt: #15171a;
  --color-primary: #02b290;
  --color-primary-alt: #03d8c3;
  --color-success: green;
  --color-success-alt: #004e00;
  --color-secondary-alt: #765df8;
  --color-secondary: #8d3daf;
  --color-sweet: #e6425e;
  --color-sweet-alt: #da33b6;
  --color-update: #0a95e7;
  --color-update-alt: #017dc5;
  --color-red: #dc3545;
  --color-red-alt: darkred;
  --color-trans: #15171a33;
  --color-gray: gray;
  --color-text-primary: hsl(0, 0%, 8%);
  --color-text-secondary: hsl(0, 0%, 20%);

  /* Font variation */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: 'Oleo Script Swash Caps', cursive;
}

body {
  background-color: var(--color-body);
  font-family: var(--font-primary);
  color: var(--color-text-primary);
}

/* Re-usable class list */
.section_style {
  padding: 5rem 0;
}

.section_title {
  padding: 10px 0;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  color: var(--color-trans);
  letter-spacing: 1.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section_title span {
  letter-spacing: 1px;
  font-size: 1.1rem;
  color: var(--color-primary);
  width: 100%;
}

.section_title::before,
.section_title::after {
  content: "";
  height: 4px;
  width: 15%;
  background-color: var(--color-trans);
  position: absolute;
}

.section_title::before {
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.section_title::after {
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
}

.card_main {
  padding: 2rem 1rem;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Reusable btn  */
.bt9 {
  padding: 4px 10px;
  font-size: 0.8rem;
  letter-spacing: 1px;
  border-radius: 4px;
  background: transparent;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  border: none;
  display: inline-block;
  text-align: center;
}

/* Update btn style */
.bt9_edit {
  border: 1px solid var(--color-success);
  color: var(--color-success);
}

.bt9_edit:disabled {
  cursor: not-allowed;
  border: 1px solid var(--color-trans);
  color: var(--color-gray);
  background-color: var(--color-trans);
}

.bt9_edit:not([disabled]):hover {
  background-color: var(--color-success);
  color: var(--color-light);
}

/* close btn style */
.bt9_close {
  border: 1px solid var(--color-red);
  color: var(--color-light);
  background-color: var(--color-red);
}

.bt9_close:disabled {
  cursor: not-allowed;
}

.bt9_close:not([disabled]):hover {
  color: var(--color-light-alt);
}

/* btn update */
.bt9_update {
  background-color: var(--color-update);
  color: var(--color-light);
}

.bt9_update:hover {
  background-color: var(--color-update-alt);
  color: var(--color-light-alt);
}

/* btn primary */
.bt9_primary {
  background-color: var(--color-primary);
  color: var(--color-light);
  border-radius: 20px;
}

.bt9_primary:hover {
  background-color: var(--color-primary-alt);
  color: var(--color-dark);
}

/* btn add */
.bt9_add {
  background-color: var(--color-secondary);
  color: var(--color-light);
  border: 1px solid var(--color-secondary);
}

.bt9_add:hover {
  background-color: var(--color-secondary-alt);
  color: var(--color-light);
}

/* reset default style for tags */
a,
p {
  font-size: 0.9rem;
  margin: 0;
}

section {
  min-height: 90vh;
}