*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color variation */
  --color-body: #f2f2f2;

  /* Font variation */
  --font-primary: "Poppins", sans-serif;
}

body {
  background-color: var(--color-body);
  font-family: var(--font-primary);
}

/* Re-usable class list */
